{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 100,
        "proseWrap": "never",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ]
}
