@import url('observablehq:default.css');
@import url('observablehq:theme-glacier.css');

.tooltip {
  position: absolute;
  bottom: calc(100% + 6px);
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}
.tooltip.visible {
  opacity: 1;
}
.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #333;
}

.save-wrapper {
  position: relative;
  display: inline-block;
}

.save-wrapper > button:hover {
  background: var(--theme-background);
}
button {
  background: var(--theme-background-alt);
  color: #000;
  border: 0.2px solid var(--theme-foreground-faint);
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  transition:
    background-color 0.15s,
    color 0.15s;
}

button:hover {
  background: var(--theme-foreground-alt-muted);
  color: #000;
}

main {
  max-width: 1200px;
  margin: auto;
}

#observablehq-main {
  padding-right: 0 !important;
}

h1 a {
  pointer-events: none;
  color: inherit;
  text-decoration: none;
}

.instructions {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  background: var(--theme-background-alt);
  border-radius: 8px;
  border: solid 1px var(--theme-foreground-faintest);
}

.toggle-button {
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}

.toggle-button:hover {
  background: var(--theme-background);
  font-weight: 501;
}

/* details > summary::marker {
  cursor: pointer;
} */

details > summary {
  cursor: pointer;
}

#observablehq-main h4 {
  pointer-events: none;
  font-weight: 400;
  color: var(--theme-foreground);
}

summary:hover {
  font-weight: 501;
}

.line {
  border-radius: 8px;
  transition:
    background 0.2s ease,
    transform 0.2s ease;
  padding: 4px;
}
.line:hover {
  background: var(--theme-background);
}

input {
  box-shadow: none;
}

.card {
  padding: 0.5rem;
}

.card {
  transition:
    transform 200ms ease,
    box-shadow 200ms ease;
}

.card:hover {
  transform: translateY(-1px);
}

.color-options {
  display: none;
}

/* show when ready */
.has-data .color-options {
  display: block;
}

.empty-state {
  display: flex; /* default visible */

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 600; /* semi-bold */
  font-size: 16px;

  padding-top: 1rem;
  color: #666; /* slightly muted but distinct */
}

.has-data .empty-state {
  display: none;
}
